.idea
**/__pycache__/
**/log.txt
**/*.ipynb
data/prepared_data/**/*.pkl
data/prepared_data/**/*.json
data/cdr
src/experiments
src/debug
**/.ipynb_checkpoints/
dataset/gda
dataset/docred
!dataset/**/.keep
!dataset/meta
src/experiments_cdr
!src/experiments_cdr/.keep